@mixin cajas($rows, $margin) {
    display: grid;
            grid-template-columns: 300px;
            grid-template-rows: $rows;
            margin-bottom: $margin; 
}

main{
    section{
        .contactotext{
            margin-bottom: 20px;
        }
    }
    section{
        form{
            justify-content: center;
            display: grid;
            grid-template-columns: 500px;
        .formunom{
         @include cajas(20px, 20px)
        }
        .formuape{
            @include cajas(20px, 20px)
        }
        .formuemail{
            @include cajas(20px, 20px)
        }
        .formumsj{
            @include cajas(10px, 10px)
        }
        .botons{
            .reset{
                background-color: black;
                color: white;
                width: 150px;
            }
            .send{
                background-color: black;
                color: white;
                width: 150px;
            }
        }
      }
    }
}